:root {
    --withe-color: white;
    --black-color: black;
}

/* Estilo para el cuerpo de la página */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
}

li {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 30px;
    width: 150px;
    text-align: center;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--withe-color);
    padding-bottom: 15px;
}

li a:hover {
    background-color: var(--withe-color);
    color: var(--black-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-main {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    padding: 50px 0px 0px;
}


.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    cursor: pointer;
  }
  
  .tab.selected {
    background-color: #ffffff;
    color: #000000;
  }
  